<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="jedisPoolConfig" class="redis.clients.jedis.JedisPoolConfig">
        <!--最大连接数-->
        <property name="maxTotal" value="200"/>
        <!--最大空闲数-->
        <property name="maxIdle" value="50"/>
        <!--检测获取正常可用连接-->
        <property name="testOnBorrow" value="true"/>
        <!--检测归还正常可用连接-->
        <property name="testOnReturn" value="true"/>
    </bean>

    <bean id="jedisPool" class="redis.clients.jedis.JedisPool">
        <!--设置连接池配置-->
        <constructor-arg name="poolConfig" ref="jedisPoolConfig"/>
        <!--设置ip地址-->
        <constructor-arg name="host" value="192.168.7.10"/>
        <!--设置端口号-->
        <constructor-arg name="port" value="6379"/>
        <!--设置超时时间-->
        <constructor-arg name="timeout" value="30000"/>
    </bean>

</beans>