<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.itheima.mapper.UserMapper">

    <resultMap id="userAndRoleAndPermission" type="User" autoMapping="true">
        <id column="id" property="id"></id>
        <!--将角色封装到user中-->
        <collection property="roles" javaType="java.util.Set" ofType="Role" autoMapping="true">
            <id column="rid" property="id"></id>
            <result column="rkeyword" property="keyword"></result>
            <!--将权限封装到role中-->
            <collection property="permissions" javaType="java.util.Set" ofType="Permission" autoMapping="true">
                <id column="pid" property="id"></id>
                <result column="pkeyword" property="keyword"></result>
            </collection>
        </collection>

    </resultMap>
    
    <select id="findByUsername" resultMap="userAndRoleAndPermission">
      SELECT
            u.*,r.id rid,r.keyword rkeyword,p.id pid,p.keyword pkeyword
        FROM
            t_user u
        INNER JOIN t_user_role ur ON u.id = ur.user_id
        inner join t_role r on r.id = ur.role_id
        INNER JOIN t_role_permission rp on rp.role_id = r.id
        INNER JOIN t_permission p on p.id = rp.permission_id
        WHERE
            u.username = #{username}
    </select>


    <select id="findFirstMenuByUsername" resultType="Map">
        SELECT name title,path,icon FROM t_menu WHERE
        id IN (
        SELECT menu_id FROM t_role_menu WHERE
        role_id = (
        SELECT id FROM t_user WHERE username = #{username}
        )
        )
        AND path LIKE '_'
    </select>

    <select id="findSecondMenuByUsernameAndPath" resultType="Map">
        SELECT name title,linkUrl,path,icon FROM t_menu WHERE
        id IN (
        SELECT menu_id FROM t_role_menu WHERE
        role_id = (
        SELECT id FROM t_user WHERE username = #{username}
        )
        )
        AND path LIKE '/' #{path} '-%'
    </select>




    <!--==========================================insert========================================================================-->
    <insert id="addUser" useGeneratedKeys="true" keyColumn="id" keyProperty="id">
        insert into t_user values(null, #{birthday}, #{gender}, #{username}, #{password}, #{remark}, #{station}, #{telephone})
    </insert>

    <!--==========================================delete========================================================================-->
    <!--删除用户和角色关联关系-->
    <delete id="deleteAssociationOfUserAndRole">
        delete from t_user_role where user_id = #{id}
    </delete>
    <!--添加用户和角色关联关系-->
    <insert id="addAssociationOfUserAndRole">
        insert into t_user_role VALUES
        <foreach collection="roleIds" item="roleId" separator=",">
            (#{id}, #{roleId})
        </foreach>
    </insert>

    <!--删除用户-->
    <delete id="deleteUser">
        delete from t_user where id = #{id}
    </delete>
    <!--==========================================update========================================================================-->
    <update id="editUser">
        update t_user set birthday = #{birthday}, gender = #{gender}, username = #{username}, password = #{password}, remark = #{remark}, station = #{station}, telephone = #{telephone}
        where id = #{id}
    </update>



    <!--==========================================select========================================================================-->


    <!--分页查询用户列表-->
    <select id="findUserByPage" resultType="User">
        select * from t_user
        <where>
            <if test="queryString != null and queryString.trim() != ''">
                username like '%' #{queryString} '%' or telephone like '%' #{queryString} '%'
            </if>
        </where>
    </select>

    <!--通过用户名查询用户-->
    <select id="findUsername" resultType="User">
        select * from t_user where username = #{username}
    </select>
</mapper>