<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="pers.yang.mapper.CheckItemMapper">

    <!--=======================================insert=============================================-->
    <!--添加检查项-->
    <insert id="add">
        insert into t_checkitem values(null, #{code}, #{name}, #{sex}, #{age}, #{price}, #{type}, #{attention}, #{remark})
    </insert>


    <!--=======================================delete=============================================-->
    <!--通过id删除检查项-->
    <delete id="deleteCheckItemById">
        delete from t_checkitem where id = #{id}
    </delete>

    <!--=======================================update=============================================-->
    <!--更新检查项-->
    <update id="updateCheckItem">
        update t_checkitem
        set
        code = #{code},
        name = #{name},
        sex = #{sex},
        age = #{age},
        price = #{price},
        type = #{type},
        attention = #{attention},
        remark = #{remark}
        where
        id = #{id}
    </update>

    <!--=======================================select=============================================-->
    <!--通过id查询检查项-->
    <select id="findCheckItemById" resultType="CheckItem">
        select * from t_checkitem where id = #{id}
    </select>

    <!--通过条件分页查询检查项-->
    <select id="findCheckItemByCondition" resultType="CheckItem">
        select * from t_checkitem
        <where>
            <if test="queryString!= null and queryString.trim() != ''">
                code = #{queryString} or name like "%" #{queryString} "%"
            </if>
        </where>
    </select>

    <!--查询所有的检查项-->
    <select id="findAllCheckItems" resultType="CheckItem">
        select * from t_checkitem
    </select>

    <!--查询指定检查组下的检查项-->
    <select id="findCheckItemByCheckGroupId" resultType="Integer">
        select checkitem_id from t_checkgroup_checkitem where checkgroup_id = #{id}
    </select>
</mapper>