<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="pers.yang.mapper.OrderMapper">
    <!--================================insert===============================================-->
    <insert id="add" useGeneratedKeys="true" keyColumn="id" keyProperty="id">
        insert into t_order values(null, #{memberId}, #{orderDate}, #{orderType}, #{orderStatus}, #{setmealId})
    </insert>



    <!--================================select===============================================-->
    <!--条件查询订单信息-->
    <select id="findOrderByCondition" resultType="Order">
        select
          *
        from
          t_order
        where
          member_id = #{memberId}
        and orderDate = #{orderDate}
        and setmeal_id = #{setmealId}
    </select>

    <!--通过id查询订单信息-->
    <select id="findOrderById" resultType="Map">
        SELECT
            m.name member, s.name setmeal, DATE_FORMAT(o.orderDate,"%Y-%m-%d") orderDate, o.orderType
        FROM
            t_order o
        INNER JOIN t_member m ON o.member_id = m.id
        INNER JOIN t_setmeal s ON o.setmeal_id = s.id
        WHERE
            o.id = #{id}
    </select>

    <!--查询指定日期预约数量-->
    <select id="findTodayOrderNumber" resultType="Long">
        select count(id) from t_order where orderDate = #{date}
    </select>
    <!--查询指定日期到诊数-->
    <select id="findTodayVisitsNumber" resultType="Long">
        select count(id) from t_order where orderDate = #{date} and orderStatus = '已到诊'
    </select>

    <!--查询指定日期之后的预约数-->
    <select id="findWeekOrderNumberAfterDate" resultType="Long">
        select count(id) from t_order where orderDate >= #{date}
    </select>

    <!--查询指定日期之后的预约到诊数-->
    <select id="findiWeekVisitsNumberAfterDate" resultType="Long">
        select count(id) from t_order where orderDate >= #{date} and orderStatus = '已到诊'
    </select>

    <!--查询指定数量的热门套餐-->
    <select id="findHotSetmeal" resultType="Map">
        SELECT
            s.name, count(o.id) setmeal_count, count(o.id)/(select count(id) from t_order) proportion
        FROM
            t_order o
        INNER JOIN t_setmeal s ON o.setmeal_id = s.id
        group by o.setmeal_id
        order by setmeal_count desc
        limit #{count}
    </select>
</mapper>